/*  menu */
.navbar-inverse .navbar-nav > li > a {
    color: white !important;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    color: white;
}

.carousel {
    position: relative;
    margin-top: 115px;
    height: 297px;
}

.content-wrapper {
    margin-top: 150px;
}

#myCarousel .left {
    display: none;
}

#myCarousel .right {
    display: none;
}

.bg_pro {
    padding: 10px 10px;
    overflow: hidden;
    margin-top: -18px;
    position: relative;
}

.container .bs-example .row .thumbnail img {
    height: 300px;
}

.name_category {
    height: 30px;
    font-size: 20px;
    margin-bottom: -17px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid black;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin-bottom: 5px;
}

.col-md-3 {
    width: 25%;
    margin-bottom: 7px;
}




