.navbar-inverse .navbar-nav > li > a {
    color: white !important;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    color: white;
}
.content-wrapper{
    margin-top: 60px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid black;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin-bottom: 5px;
}

.container .white {
    margin-bottom: -10px;
}

.col-md-3 {
    width: 25%;
    margin-bottom: 20px;
}

.price_detail {
    height: 85px;
    background: yellowgreen;
    margin-right: -5px;
    color: white;
    padding-top: 16px;
    font-size: 13px;
    padding-left: 20px;
}
#tbl_config {
    margin-top: 10px;
}

#tbl_config tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
#tbl_config td {
    padding: 6px 0;
}
#tbl_config b {
    display: inline-block;
    border: solid 1px #ccc;
    padding: 0 9px;
    text-align: center;
    margin: 0 2px;
    line-height: 20px;
    margin-bottom: 3px;
    cursor: pointer;
}

#tbl_config b.selected {
    border-color: #a00 !important;
}